@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #050816;
  color: white;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  width: 600px;
  height: 600px;
  background: #06b6d4;
  filter: blur(200px);
  opacity: 0.15;
  top: -100px;
  left: -100px;
  z-index: -1;
  pointer-events: none;
}

body::after {
  content: "";
  position: fixed;
  width: 500px;
  height: 500px;
  background: #8b5cf6;
  filter: blur(180px);
  opacity: 0.15;
  bottom: -100px;
  right: -100px;
  z-index: -1;
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050816;
}

::-webkit-scrollbar-thumb {
  background: #06b6d4;
  border-radius: 20px;
}

::selection {
  background: #06b6d4;
  color: black;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.float {
  animation: float 4s ease-in-out infinite;
}